<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterCook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- Jquery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/search_bar.css">
    </head>
    <body>
        <div id="nav_bar"></div>
        <div class="container text-center">
            <h1>Your Account Information</h1>

            <br>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" for="username">Username:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control " id="username" placeholder="Change username">
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="password">Password:</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control " id="password" placeholder="Change password">
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="confirm">Confirm Password:</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control " id="confirm" placeholder="Confirm password">
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="email">Email:</label>
                    <div class="col-md-5">
                        <input type="email" class="form-control " id="email" placeholder="Change email">
                    </div> 
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group">
                    <div class="col-md-4"></div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-default" id="save_btn">Save</button>
                    </div>
                    <div class="col-md-7"></div>
                </div>
            </form>
        </div>
        <!-- My Calender Library -->
        <script src="/static/js/bettercook.js"></script>
        <script>
        $(document).ready(function(){
            $("#nav_bar").load("/template?page=nav_bar");

            $("#save_btn").click(function(){
                alert("Account Information Saved!");
            });
        });
        </script>
    </body>
</html>