{{ if .username }}
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label" for="comment">Comment:</label>
        <textarea type="text" class="form-control" name="comment" id="f_comment" placeholder="Enter comment"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="rating">Rating:</label>
        <input type="number" max="5" min="1" class="form-control" name="rating" id="f_rating"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default comment_btn" id="comment_submit">Post Comment</button>
    </div>
</div>
<script>
$(document).ready(function(){
    $('#comment_submit').click(function() {
        var comment = $("#f_comment").val();
        var rating = $("#f_rating").val();
        console.log(comment);
        console.log(rating);
        $.ajax({
            url: "/comment?recipe={{ .recipe }}",
            type:'POST',
            data:
            {
                comment: comment,
                rating: rating
            },
            success: function(msg)
            {
                // Reload this tab
                $.notify("Your comment is posted", "success");
                $("#comment").load("/recipecomments?recipe={{ .recipe }}");
            }               
        });
    });

});
</script>
{{ else }}
<h3>Please Login to Comment!</h3>

{{ end }}

<br><br>
<h3>{{ len .Comments }} comments for this recipe</h3>
<br><br>

{{ range $comment := .Comments }}
<div class="row text-left">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-md-11">
        <blockquote>
            <em>"{{ $comment.Text }}"</em>
            <small>Rating: {{ $comment.Rating }}</small>
            <footer>From {{ $comment.User }}</footer>
        </blockquote>
        
    </div>
</div>
<hr>
{{ end }}