{{ if .username }}
<form method="post" action="/comment?recipe={{ .recipe }}" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label" for="comment">Comment:</label>
        <textarea type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment"></textarea>
    </div>
    <div class="form-group">
        <label class="control-label" for="rating">Rating:</label>
        <input type="number" max="5" min="1" class="form-control" id="rating" name="rating"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default comment_btn">Post Comment</button>
    </div>
</form>
{{ else }}
<h3>Please Login to Comment!</h3>

{{ end }}

<br><br>
<h3>{{ len .Comments }} comments for this recipe</h3>
<br><br>

{{ range $comment := .Comments }}
<div class="row text-left">
    <div class="col-md-1">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-md-11">
        <blockquote>
            <em>"{{ $comment.Text }}"</em>
            <small>Rating: {{ $comment.Rating }}</small>
            <footer>From {{ $comment.User }}</footer>
        </blockquote>
        
    </div>
</div>
<hr>
{{ end }}