{{ if .username }}
<form method="post" action="/comment?recipe={{ .recipe }}" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label" for="comment">Comment:</label>
        <input type="text" class="form-control" id="comment" name="comment" placeholder="Enter comment"></input>
    </div>
    <div class="form-group">
        <label class="control-label" for="rating">Rating:</label>
        <input type="number" max="5" min="1" class="form-control" id="rating" name="rating"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default comment_btn">Post Comment</button>
    </div>
</form>
{{ end }}

<br><br>
{{ range $comment := .Comments }}
<div class="media">
    <div class="media-left">
        <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="media-body">
        <h4 class="media-heading">User: {{ $comment.User }}</h4>
        <p>Rating: {{ $comment.Rating }}</p>
        <p>Text: {{ $comment.Text }}</p>
    </div>
</div>
<hr>
{{ end }}