<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#recipe">Recipe</a></li>
  <li><a data-toggle="tab" href="#budget">Budget</a></li>
  <li><a data-toggle="tab" href="#comment">Comment</a></li>
</ul>
<div class="tab-content">

  <div id="recipe" class="tab-pane fade in active">
    <h3>Recipe</h3>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <div id="budget" class="tab-pane fade">
    <h3>Budget</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
  </div>
  <div id="comment" class="tab-pane fade">
    <h3>Comment</h3>
    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
</div>