<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#recipe">Recipe</a></li>
  <li><a data-toggle="tab" href="#budget">Budget</a></li>
  <li><a data-toggle="tab" href="#comment">Comment</a></li>
</ul>
<div class="tab-content">
  
  <div id="recipe" class="tab-pane fade in active">
    <h3><span class="glyphicon glyphicon-book"></span> Recipe</h3>
  </div>
  <div id="budget" class="tab-pane fade">
    <h3><span class="glyphicon glyphicon-usd"></span> Budget</h3>
  </div>
  <div id="comment" class="tab-pane fade">
    <h3><span class="glyphicon glyphicon-comment"></span> Comment</h3>
  </div>
</div>