<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterCook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- Jquery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/search_bar.css">
    </head>
    <body>
        <div id="nav_bar"></div>
        
        <br>

        <div class="container text-center" id="search_result">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-heart"></span> Favorite Recipes</h1> 
            </div>

            <div class="row">
                <div class="col-md-5" id="favorites_list"></div>

                <div class="col-md-7" id="dynamic_tabs"></div>
            </div>
            
        </div>
        
        <!-- My Calender Library -->
        <script src="/static/js/bettercook.js"></script>
        <script>

        $(document).ready(function(){
            $("#nav_bar").load("/template?page=nav_bar");

            $("#dynamic_tabs").load("/template?page=dynamic_tabs");

            var favorites = JSON.parse(sessionStorage.getItem("favorites"));

            $.get( "/allrecipes", function( data ) {
            var recipes = JSON.parse(data);
            for(var i in recipes){
                var rating = Math.floor((Math.random() * 5) + 1);
                if(favorites.indexOf(recipes[i].ID) > -1){
                    $.get('/recipethumbnail?recipe=' + recipes[i].ID, function(data)
                    {
                        $('#favorites_list').append(data);
                    });
                }
            }
            });


        });

        

        $("body").on("click", ".result", function(){
                var id = this.id;
                $("#recipe").load("/recipe?recipe=" + id + "",function(){
                    $(".fav_btn").click(function(){
                        
                        if (sessionStorage.getItem("favorites")) {
                            var favorites = JSON.parse(sessionStorage.getItem("favorites"));
                            var index = favorites.indexOf(this.id);
                            if( index > -1) {
                                favorites.splice(index, 1);
                                alert("Recipe Removed From Favorites!");
                                location.reload();
                            }else{
                                favorites.push(this.id);
                                alert("Recipe Added to Favorites!");
                            }
                            sessionStorage.setItem("favorites", JSON.stringify(favorites));
                            
                        } else {
                            sessionStorage.setItem("favorites", JSON.stringify([this.id]));
                            alert("Recipe Added to Favorites!");
                        }
                    });

                    $('[data-toggle="tooltip"]').tooltip(); 
                });

                $("#budget").load("/recipebudget?recipe=" + id + "",function(){
                    $("#budget_btn").click(function(){
                        $(".ingredient:checked").each(function () {
                            var ingredient = $(this).val();
                            var grocery = [];
                            if (sessionStorage.getItem("grocery")) {
                                grocery = JSON.parse(sessionStorage.getItem("grocery"));
                            }
                            
                            grocery.push(ingredient);

                            sessionStorage.setItem("grocery", JSON.stringify(grocery));
                    });

                        alert("Ingredients Added to Grocery List!");
                    });
                    
                });


                $("#comment").load("/recipecomments?recipe=" + id + "");

                
        });
        </script>
    </body>
</html>