<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterCook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- Jquery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/notify.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/search_bar.css">
    </head>
    <body>
        <div id="nav_bar"></div>
        
        <br>

        <div class="container text-center" id="search_result">
            <div class="jumbotron">
                <h1><span class="glyphicon glyphicon-heart"></span> Favorite Recipes</h1> 
            </div>

            <div class="row">
                <div class="col-md-6 text-left" id="favorites_list">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

                <div class="col-md-6" id="dynamic_tabs"></div>
            </div>
            
        </div>
        
        <!-- My Calender Library -->
        <script src="/static/js/bettercook.js"></script>
        <script>

        $(document).ready(function(){
            $("#nav_bar").load("/template?page=nav_bar");

            $("#dynamic_tabs").load("/template?page=dynamic_tabs");

            $.get("/favget", function(data) {
                var favorites = JSON.parse(data);
                favorites.forEach(function(favID) {
                    console.log(favID);
                    $.get('/recipethumbnail?recipe=' + favID, function(data) {
                        $("#favorites_list").find("tbody").append(data);
                    });
                });
            });
        });

        

        $("body").on("click", ".result", function(){
                var id = this.id;
                $("#recipe").load("/recipe?recipe=" + id + "",function(){
                    $('[data-toggle="tooltip"]').tooltip(); 
                    $(".fav_btn").click(function(){
                        $.get("/favexists?recipe=" + id, function(data) {
                            if (data == "true") {
                                // Remove from fav
                                $.get("/favremove?recipe=" + id);
                                $("#fav_"+id).text("Add to favorites");
                                $.notify("Removed from favorites", "success");
                            } else {
                                // Add to fav
                                $.get("/favadd?recipe=" + id);
                                $("#fav_"+id).text("Remove from favorites");
                                $.notify("Added to favorites", "success");
                            }
                            // Reload page
                            location.reload();
                        });
                    });

                });

                $("#budget").load("/recipebudget?recipe=" + id + "",function(){
                    $("#budget_btn").click(function(){
                        $(".ingredient:checked").each(function () {
                            var ingredient = $(this).val();
                            var grocery = [];
                            if (sessionStorage.getItem("grocery")) {
                                grocery = JSON.parse(sessionStorage.getItem("grocery"));
                            }
                            
                            grocery.push(ingredient);

                            sessionStorage.setItem("grocery", JSON.stringify(grocery));
                    });

                        alert("Ingredients Added to Grocery List!");
                    });
                    
                });


                $("#comment").load("/recipecomments?recipe=" + id + "");

                
        });
        </script>
    </body>
</html>