<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterCook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
        <!-- Jquery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/static/css/search_bar.css">
    </head>
    <body>
        <div id="nav_bar"></div>
        <div id="search_bar"></div>

        <!-- My Calender Library -->
        <script src="/static/js/bettercook.js"></script>
        <script>
        $(document).ready(function(){
            $("#nav_bar").load("/template?page=nav_bar");
            
            $("#search_bar").load("/template?page=search_bar", function(){
                $("#search_btn").click(function(){
                    var query = $("#query").val();
                    if(query === ""){ query = "NA"; }
                    
                    var cuisine = $("#cuisine").val();
                    if(meal === ""){ cuisine = "NA"; }

                    var diet = $("#diet").val();
                    if(diet === ""){ diet = "NA"; }

                    var meal = $("#meal").val();
                    if(meal === ""){ meal = "NA"; }

                    var mins = $("#mins").val();
                    if(mins === ""){ mins = "NA"; }

                    var dollars = $("#dollars").val();
                    if(dollars === ""){ dollars = "NA"; }

                    var calories = $("#calories").val();
                    if(calories === ""){ calories = "NA"; }

                    sessionStorage.setItem("query", query);
                    sessionStorage.setItem("cuisine", cuisine);
                    sessionStorage.setItem("diet", diet);
                    sessionStorage.setItem("meal", meal);
                    sessionStorage.setItem("mins", mins);
                    sessionStorage.setItem("dollars", dollars);
                    sessionStorage.setItem("calories", calories);
                });
            });


        });
        </script>
    </body>
</html>