<html>
<head>
    <title>Better Cook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>

    <h1>better cook</h1>
    {{ if .username -}}
    <p>Welcome back! {{ .username }}</p>
    <p><a href="/logout">Click here to logout</a></p>
    {{ else -}}
    <a href="/login">Click here to login</a>
    {{ end -}}
    <p>
        <a href="/page?page=recipe1">Recipe 1</a>
    </p>

</body>

</html>
