<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterCook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/search_bar.css">
    </head>
    <body>
        <div id="nav_bar"></div>
        <div id="search_bar"></div>

        <!-- My Calender Library -->
        <script src="js/bettercook.js"></script>
        <script>
        $(document).ready(function(){
            $("#nav_bar").load("nav_bar.html");
            $("#search_bar").load("search_bar.html");
        });
        </script>
    </body>
</html>