<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/template?page=index">BetterCook</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      {{ if .username }}
      <li><a><span class="glyphicon glyphicon-user"></span> Welcome back, {{ .username }}</a></li>
      <li><a href="/template?page=favorites"><span class="glyphicon glyphicon-heart"></span> Favorites</a></li>
      <li><a href="/template?page=grocery"><span class="glyphicon glyphicon-list"></span> Grocery List</a></li>
      <li><a href="/template?page=account"><span class="glyphicon glyphicon-cog"></span> Account</a></li>
      <li><a href="/template?page=logout" id="logout_btn"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
      {{ else }}
      <li><a href="/template?page=signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/template?page=login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{ end }}
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $("#logout_btn").click(function(){
    sessionStorage.clear();
  });
</script>