<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BetterCook</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/template?page=index">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{ if .username }}
      <li><a><span class="glyphicon glyphicon-user"></span> Welcome back, {{ .username }}</a></li>
      <li><a href="/template?page=favorites"><span class="glyphicon glyphicon-heart"></span> Favorites</a></li>
      {{ else }}
      <li><a href="/template?page=signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/template?page=login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {{ end }}
    </ul>
  </div>
</nav>