<div class="text-left" id="list">
	<!-- <div class="media">
		<div class="media-left">
			<img src="img_avatar1.png" class="media-object" style="width:60px">
		</div>
		<div class="media-body">
			<h4 class="media-heading">John Doe</h4>
			<p>Lorem ipsum...</p>
		</div>
	</div> -->
</div>
<script type="text/javascript">
function looseComparison(query, cuisine, recipe) {
	var q = query.toUpperCase();
	var c = cuisine.toUpperCase();
	var r_id = recipe.ID.toUpperCase();
	var r_title = recipe.Title.toUpperCase();
	var r_cuisine = recipe.Cuisine.toUpperCase();

	var f_id = (q.indexOf(r_id) > -1) || (r_title.indexOf(q) > -1);
	var f_cuisine = (r_cuisine.indexOf(c) > -1) || (r_title.indexOf(c) > -1);
	if(c === ""){ 
		f_cuisine = false;
	}
	if(q === ""){
		f_id = true;
	}
	return f_id || f_cuisine;
}

// Test for lemon
function looseComparison2(query, recipe) {
	var q = query.toUpperCase();
	var r_title = recipe.Title.toUpperCase();
	return q.indexOf("LEMON") > -1 && r_title.indexOf("HUMMUS") > -1;
}

$(document).ready(function(){
	$.get( "/allrecipes", function( data ) {
	var recipes = JSON.parse(data);
	var query = sessionStorage.getItem("query");
	var cuisine = sessionStorage.getItem("cuisine");
	for(var i in recipes){
		var rating = Math.floor((Math.random() * 5) + 1);
		if(looseComparison(query, cuisine, recipes[i]) || looseComparison2(query, recipes[i])){
			$("#list").append("<a href='#'" + "class='result' id='"+ recipes[i].ID + "'>" + 
							"<div class='media'>" +
							"<div class='media-left'>" +
								"<img src='" + recipes[i].ImgURL + "' " + "class='media-object' style='width:60px'>" +
							"</div>" +
							"<div class='media-body'>" +
								"<h4 class='media-heading'>" + recipes[i].Title + "</h4>" +
								"<div class='row'>" +
									"<div class='col-md-6'>" +
										"<p>Time: " + recipes[i].Time + "</p>" +
										"<p>Calories:" + recipes[i].Calories + "</p>" +
										"<p>Budget:" + recipes[i].Budget + "</p>" +
									"</div>" +
									"<div class='col-md-6'>" +
										"<p>Cuisine: " + recipes[i].Cuisine + "</p>" +
										"<p>MealType: " + recipes[i].MealType + "</p>" +
										"<p>Serves: " + recipes[i].Serves + "</p>" +
									"</div>" +
								"</div>" +
								"<div class='row'>" +
									"<p>&nbsp;&nbsp;&nbsp;&nbsp;rating: "+ rating + "</p>" +
								"</div>" +
							"</div>" +
						  "</div>" + 
						  "</a>");
		$("#list").append("<hr>");
		}
		
	}
	});

});
</script>