<div class="container text-center">
    <h1>BetterCook</h1>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="query">Search</label>
                <input type="text" class="form-control " id="query" placeholder="Enter recipe name or ingredients">
            </div>
            <div class="form-group">
                <!-- <a href="/template?page=search_result"><button type="submit" class="btn btn-default" id="search_btn">Search</button></a> -->
                <a href="/template?page=search_result" id="search_btn">Search</a>
            </div>
        </form>
    </div>
    
    <br>
    
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="cuisine">Cuisine:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="cuisine" placeholder="Enter cuisine type">
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3" for="diet">Diet:</label>
                    <div class="col-md-9">
                        <select class="form-control" id="diet">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3" for="meal">Meal Type:</label>
                    <div class="col-md-9">
                        <select class="form-control" id="meal">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="hours">Hours:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="hours" placeholder="Enter hours">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="dollars">Dollars:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="dollars" placeholder="Enter costs">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="calories">Calories:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="calories" placeholder="Enter calories">
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
    
</div>

<!-- <script>
    $("#search_btn").hover(function()
{
    alert("haha");
    console.log("haha");
});

</script> -->