<div class="text-left" id="list">
	<!-- <div class="media">
		<div class="media-left">
			<img src="img_avatar1.png" class="media-object" style="width:60px">
		</div>
		<div class="media-body">
			<h4 class="media-heading">John Doe</h4>
			<p>Lorem ipsum...</p>
		</div>
	</div> -->
</div>
<script type="text/javascript">
function looseComparison(query, cuisine, recipe) {
	var q = query.toUpperCase();
	var c = cuisine.toUpperCase();
	var r_id = recipe.ID.toUpperCase();
	var r_title = recipe.Title.toUpperCase();
	var r_cuisine = recipe.Cuisine.toUpperCase();

	var f_id = (q.indexOf(r_id) > -1) || (r_title.indexOf(q) > -1);
	var f_cuisine = (r_cuisine.indexOf(c) > -1) || (r_title.indexOf(c) > -1);
	if(c === ""){ 
		f_cuisine = false;
	}
	if(q === ""){
		f_id = true;
	}
	return f_id || f_cuisine;
}

// Test for lemon
function looseComparison2(query, recipe) {
	var q = query.toUpperCase();
	var r_title = recipe.Title.toUpperCase();
	return q.indexOf("LEMON") > -1 && r_title.indexOf("HUMMUS") > -1;
}

$(document).ready(function(){
	$.get( "/allrecipes", function( data ) {
		var recipes = JSON.parse(data);
		var query = sessionStorage.getItem("query");
		var cuisine = sessionStorage.getItem("cuisine");
		for(var i in recipes){
			if(looseComparison(query, cuisine, recipes[i]) || looseComparison2(query, recipes[i])){
				$.get('/recipethumbnail?recipe=' + recipes[i].ID, function(data) {
					$("#list").append(data);
				});
			}
		}
	});
});
</script>