<div class="container text-center">
    <h1>BetterCook</h1>

    <div class="row">
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="query">Search</label>
                <input type="text" class="form-control" id="query" placeholder="ex: chicken, mushrooms, pasta"
                    onkeydown="if (event.keyCode == 13) document.getElementById('search_btn').click()">
            </div>
            <div class="form-group">
                <!-- <a href="/template?page=search_result"><button type="submit" class="btn btn-default" id="search_btn">Search</button></a> -->
                <button  type="button" class="btn btn-info"><a href="/template?page=search_result" id="search_btn">Search</a></button>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#advanced">Advanced Search <span class="caret"></span></button>
            </div>
        </div>
    </div>
    
    <br>
    
    <div id="advanced" class="collapse">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="cuisine">Cuisine:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="cuisine" placeholder="Enter cuisine type">
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3" for="diet">Diet:</label>
                    <div class="col-md-9">
                        <select class="form-control" id="diet">
                            <option value="" disabled selected>Select dietary restriction. ex: vegan</option>
                            <option>Vegan</option>
                            <option>Vegetarian</option>
                            <option>Halal</option>
                            <option>Kosher</option>
                        </select>
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3" for="meal">Course:</label>
                    <div class="col-md-9">
                        <select class="form-control" id="meal">
                            <option value="" disabled selected>Select meal course. ex: dessert</option>
                            <option>Entree</option>
                            <option>Dessert</option>
                            <option>Appetizer</option>
                        </select>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3" for="mins">Hours:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="mins" placeholder="Enter Hours">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="dollars">Dollars:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="dollars" placeholder="Enter costs">
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="calories">Calories:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control " id="calories" placeholder="Enter calories">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>       
    </div>
</div>

<script>
    $("#search_btn").click(function(){
        var query = $("#query").val();
        if(query === ""){ query = "NA"; }
        
        var cuisine = $("#cuisine").val();
        if(meal === ""){ cuisine = "NA"; }

        var diet = $("#diet").val();
        if(diet === null){ diet = "NA"; }

        var meal = $("#meal").val();
        if(meal === null){ meal = "NA"; }

        var mins = $("#mins").val();
        if(mins === ""){ mins = "NA"; }

        var dollars = $("#dollars").val();
        if(dollars === ""){ dollars = "NA"; }

        var calories = $("#calories").val();
        if(calories === ""){ calories = "NA"; }

        sessionStorage.setItem("query", query);
        sessionStorage.setItem("cuisine", cuisine);
        sessionStorage.setItem("diet", diet);
        sessionStorage.setItem("meal", meal);
        sessionStorage.setItem("mins", mins);
        sessionStorage.setItem("dollars", dollars);
        sessionStorage.setItem("calories", calories);
    });
</script>