<a href='#' class='result' id='{{ .R.ID }}'> 
    <div class='media'>
        <div class='media-left'>
            <img src='{{ .R.ImgURL }}' class='media-object' style='width:60px'>
        </div>
        <div class='media-body'>
            <h4 class='media-heading'>{{ .R.Title }}</h4>
            <div class='row'>
                <div class='col-md-6'>
                    <p>Time: {{ .R.Time }}</p>
                    <p>Calories: {{ .R.Calories }}</p>
                    <p>Budget: {{ .R.Budget }}</p>
                </div>
                <div class='col-md-6'>
                    <p>Cuisine: {{ .R.Cuisine }}</p>
                    <p>MealType: {{ .R.MealType }}</p>
                    <p>Serves: {{ .R.Serves }}</p>
                </div>
            </div>
            <div class='row'><div class="col-md-12">Rating: {{ .rating }}</div></div>
        </div>
    </div>
</a>
<hr>

<!--
<div>
    <h1>{{ .R.Title }}</h1>
    <img src="{{ .R.ImgURL }}"></img>
    <ul>
        <li>Time: {{ .R.Time }} minutes</li>
        <li>Calories: {{ .R.Calories }} Cal</li>
        <li>Budget: {{ .R.Budget }}/serving</li>
        <li>Cuisine: {{ .R.Cuisine }}</li>
        <li>Meal Type: {{ .R.MealType }}</li>
        <li>Serves: {{ .R.Serves }}</li>
    </ul>
    <p>Rating {{ .rating }}</p>

    {{ if .username }}
    <button>Add {{ .R.ID }} to favorites</button>
    {{ end }}
    
    <a href="/recipe?recipe={{ .R.ID }}">View Recipe</a>
    <a href="/recipecomments?recipe={{ .R.ID }}">View Comments</a>
    <a href="/recipebudget?recipe={{ .R.ID }}">Budgeting</a>
</div>-->