<tr class='result' id='{{ .R.ID }}'>
    <td>
        <div class="row">
            <div class='col-md-3'></div>
            <div class='col-md-9'>
                <h4>{{ .R.Title }}</h4>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <img src='{{ .R.ImgURL }}' style='width:90px'>
            </div>
            <div class='col-md-9'>
                
                <p><strong>Rating: </strong><span class="label label-danger">{{ .rating }}</span></p>
                <div class='row'>
                    <div class='col-md-5'>
                        <p><strong>Time: </strong>{{ .R.Time }}</p>
                        <p><strong>Calories: </strong>{{ .R.Calories }}</p>
                        <p><strong>Budget: </strong>{{ .R.Budget }}</p>
                        
                    </div>
                    <div class='col-md-7'>
                        <p><strong>Cuisine: </strong>{{ .R.Cuisine }}</p>
                        <p><strong>MealType: </strong>{{ .R.MealType }}</p>
                        <p><strong>Serves: </strong>{{ .R.Serves }}</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>



<!--
<div>
    <h1>{{ .R.Title }}</h1>
    <img src="{{ .R.ImgURL }}"></img>
    <ul>
        <li>Time: {{ .R.Time }} minutes</li>
        <li>Calories: {{ .R.Calories }} Cal</li>
        <li>Budget: {{ .R.Budget }}/serving</li>
        <li>Cuisine: {{ .R.Cuisine }}</li>
        <li>Meal Type: {{ .R.MealType }}</li>
        <li>Serves: {{ .R.Serves }}</li>
    </ul>
    <p>Rating {{ .rating }}</p>

    {{ if .username }}
    <button>Add {{ .R.ID }} to favorites</button>
    {{ end }}
    
    <a href="/recipe?recipe={{ .R.ID }}">View Recipe</a>
    <a href="/recipecomments?recipe={{ .R.ID }}">View Comments</a>
    <a href="/recipebudget?recipe={{ .R.ID }}">Budgeting</a>
</div>-->